/* CSS vars */
:root {
  /* Font */
  --font: helvetica, arial, sans-serif;

  /* Font sizes */
  --font-size-1: 11px;
  --font-size-2: 12px;
  --font-size-3: 14px;
  --font-size-4: 15px;
  --font-size-5: 21px;
  --font-size-6: 26px;
  --font-size-7: 32px;

  /* Colors */
  --grey-1: hsl(0, 0%, 0%);
  --grey-2: hsl(0, 0%, 12%);
  --grey-3: hsl(0, 0%, 25%);
  --grey-4: hsl(0, 0%, 37%);
  --grey-5: hsl(0, 0%, 50%);
  --grey-6: hsl(0, 0%, 62%);
  --grey-7: hsl(0, 0%, 75%);
  --grey-8: hsl(0, 0%, 87%);
  --grey-9: hsl(0, 0%, 100%);

  --blue-1: hsl(210, 80%, 40%);
  --blue-2: hsl(200, 100%, 40%);
  --blue-3: hsl(200, 85%, 55%);
  --blue-4: hsl(200, 85%, 65%);
  --blue-5: hsl(200, 85%, 75%);
  --blue-6: hsl(200, 85%, 85%);
  --blue-7: hsl(200, 85%, 95%);

  /* --purple-4: hsl(279deg 90% 50%); */

  /* Layout*/
  --left-grid-margin: 180px;
  --right-grid-margin: 80px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font);
  font-size: var(--font-size-3);
  line-height: 1.2rem;
  color: var(--grey-1);
  background: var(--blue-4);
}

h4 {
  margin-bottom: 4px;
  font-weight: normal;
}

li {
  list-style-type: circle;
}

a {
  text-decoration: none;
  color: var(--blue-1);
}

a:hover {
  text-decoration: underline;
}

.de-em {
  font-size: var(--font-size-2);
  color: var(--grey-6);
}

#Main {
  display: grid;
  grid-template-columns: 1fr 860px 1fr;
  padding: 120px 0;
}

#Content {
  grid-column: 2 / 3;
  /* padding: var(--right-pasge-margin) 0; */
  background: var(--grey-9);
  box-shadow: 0 2px 10px 0 hsla(216, 37%, 48%, 0.4);
}

/* Sections */

section {
  padding: 32px 0;
  border-top: 1px solid var(--grey-5);
}

/* Grid layout */

.grid {}

.grid-row:first-child {
  padding: 0 0 10px;
}

.grid-row {
  display: grid;
  grid-template-columns: var(--left-grid-margin) 1fr var(--right-grid-margin);
  grid-column: 1 / -1;
  padding: 20px 0;
}

.grid-row header {
  font-weight: bold;
}

.grid-row-left {
  grid-column: 1 / 2;
  text-align: right;
}

.grid-row-center {
  grid-column: 2 / 3;
  padding: 0 0 0 60px;
}

.grid-row-right {
  grid-column: 3 / 4;
}

/* Text sections */

.text-section {
  --space: 80px;
  padding-left: var(--space);
  padding-right: var(--space);
}

.text-section header {
  margin-bottom: 10px;
  font-weight: bold;
}

/* Info section */

.info {
  margin-top: 60px;
  text-align: center;
}

/* Summary section */

.summary {
  border-top: none;
}

/* History section */

.history date {
  position: relative;
  top: 11px;
  font-size: var(--font-size-2);
}

.history aside {
  margin-bottom: 3px;
}

.history .company {
  font-weight: bold;
}

.history .company:not(a) {
  color: var(--grey-4);
}

.history role {
  font-style: italic;
}

.history role:before {
  content: " · ";
}

.history ul {
  list-style-position: inside;
}

.history li:only-of-type {
  list-style-type: none;
}

/* Recent work section */

.recent-work {}

.recent-work .grid-row {
  padding: 10px 0;
}

.recent-work .grid-row:nth-child(2) {
  padding-top: 20px;
}

.recent-work .grid-row-left a {
  font-weight: bold;
}

/* Skills section */

.skills {

}
