/* CSS vars */
:root {
  /* Font */
  --font: helvetica, arial, sans-serif;

  /* Font sizes */
  --font-size-1: 11px;
  --font-size-2: 12px;
  --font-size-3: 14px;
  --font-size-4: 15px;
  --font-size-5: 21px;
  --font-size-6: 26px;
  --font-size-7: 32px;

  /* Colors */
  --grey-1: hsl(0, 0%, 0%);
  --grey-2: hsl(0, 0%, 12%);
  --grey-3: hsl(0, 0%, 25%);
  --grey-4: hsl(0, 0%, 37%);
  --grey-5: hsl(0, 0%, 50%);
  --grey-6: hsl(0, 0%, 62%);
  --grey-7: hsl(0, 0%, 75%);
  --grey-8: hsl(0, 0%, 87%);
  --grey-9: hsl(0, 0%, 100%);

  --blue-1: hsl(200, 85%, 30%);
  --blue-2: hsl(200, 100%, 40%);
  --blue-3: hsl(200, 85%, 55%);
  --blue-4: hsl(200, 85%, 65%);
  --blue-5: hsl(200, 85%, 75%);
  --blue-6: hsl(200, 85%, 85%);
  --blue-7: hsl(200, 85%, 95%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font);
  font-size: var(--font-size-3);
  line-height: 1.2rem;
  color: var(--grey-1);
  background: var(--blue-4);
}

h3 {
  font-size: var(--font-size-3);
  font-weight: normal;
}

li {
  list-style-type: disc;
}

a {
  font-size: var(--font-size-3);
  /* text-decoration: underline; */
  text-decoration: none;
  color: #00f;
}

a:hover {
  text-decoration: underline;
}

#Main {
  display: grid;
  grid-template-columns: 1fr 860px 1fr;
}

#Content {
  grid-column: 2 / 3;
  padding: 60px 0;
  /* padding: 40px 80px; */
  background: var(--grey-9);
  margin: 120px 0;
  box-shadow: 0 2px 10px 0 hsla(216, 37%, 48%, 0.4);
}

/* Top info */

.info {
  text-align: center;
}

/* Sections */

section {
  display: flex;
  padding: 32px 0;
  border-top: 1px solid var(--grey-5);
}

section:first-of-type {
  border-top: none;
}

section header {
  width: 140px;
  text-align: right;
  font-weight: bold;
  color: var(--grey-2);
}

section .content {
  flex: 1;
  padding: 0 80px 0 40px;
}

section > ul > li {
  list-style-type: none;
  margin-bottom: 20px;
}

section > ul ul {
  margin-left: 40px;
}

section > ul li:last-child {
  margin-bottom: 0;
}

/* Heading lines */

.heading-line {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 4px;
}

role {
  /* font-style: italic; */
  /* color: var(--grey-6); */
}

date {
  font-size: var(--font-size-2);
  color: var(--grey-6);
}

/* History section */

.history > ul > li {
  margin: 0;
  padding: 16px 0;
  border-top: 1px solid var(--grey-5);
}

.history > ul > li:first-child {
  border-top: none;
  padding-top: 0;
}

.history > ul > li:last-child {
  padding-bottom: 0;
}
